                /* Default setting Change */

body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.half-width {
     display: flex;
    margin-bottom: 70px;   
}

a {
    text-decoration: none;
}
.col-1-2 {
    width: 45%;
    padding: 0 0 0 5%;
    width: 80%;

}
                /* Start Headr Section */

                /* Start Info Area Section */
.header {
    background-image: url(../images/header-Bg-Shape.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 55%;

}
.logo {
    width: 240px;
    height: auto;
    margin: 5% auto;
    display: block;
}
.info-area {
    text-align: left;
}
.header-heading {
    font-size: 50px;
    
    color: #42495B;
    margin-top: 100px;
    font-weight: 900;
}
.small-text {
    font-size: 35px;
    letter-spacing: 0.2em;
    display: block;
}
.about-text {
    margin-top: 15px;
    color: #7A839E;
}
.link-button {
    background-image: linear-gradient(63deg, #1A129F, #5349E7);
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    text-transform: uppercase;
}
                /* End Info Area Section */

                /* Start Image Area */
.menu {
    display: flex;
}
.menu-item {
    list-style: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 3%;
    color: #ffffff;
}
.marketing {
    width: 70%;
    margin-top: 5%;
    display: block;
}
                /* End Image Section */
                /* End Header Section */
/* ================================================================================================= */
                /* Start About Company Section */

                /* start Image Section */
.about {
    background-image: url(../images/social-bg.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: contain;
}
.analytic-image img{
    width: 90%;
    height: auto;
}
                /* End Image Section */

                /* Start About Text */
.about-text {
    margin-top: 60px;
    max-width: 45%;
    padding-right: 5%;
}
.primary-paragraph {
    color: #7E76F9;
    font-weight: bold;
    text-transform: capitalize;
}
.secondary-paragraph {
    font-size: small;
    color: #7A839E;
    line-height: 2em;
}
.primary-heading {
    font-size: 30px;
    color: #7A839E;
}
                /* Start Services Section */
.services {
    width: 90%;
    margin: 0 auto;
    background-image: url(../images/idea.png);
    margin-bottom: 150px;
}
.card {
    width: 30%;
    padding: 1.3%;
    box-shadow: 1px 4px 15px -1px #0000003b;
    margin-right: 7%;
    border-radius: 10%;
    min-height: 350px;
    background-color: #ffffff;
    position: relative;
}

.card img {
    display: block;
    width: 30%;
    margin: 0 auto;
}
.btn-small {
    background-image: linear-gradient(63deg, #1A129F, #5349E7);
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    text-transform: uppercase;
    position: absolute;
    font-size: 10px;
    bottom: 10px;
    right: 10px;
}
                /* End Services Section */

                /* start pricing section */
.pricing {
    
}
